<!DOCTYPE html>
<html lang="en" >
  
  <head>
    <meta charset="UTF-8">
    <title>Blockchain-Product-Verifier Registration Form </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='FertilizersPage.css')}}">
  </head>

<body class="bgimg">
  <h3 style="color:white;">AGRICULTURAL PRODUCTS REGISTRATION FORM</h3>

 
  <table align="center" cellpadding = "10">
    <form method="POST" action="http://127.0.0.1:5000/addproduct">
  
  <tr>
    <td> BRAND </td>
    <td>
      <input type="text" name="brand" maxlength="30"/>
      (max 30 characters a-z and A-Z)
    </td>
  </tr>

  <tr>
    <td> NAME </td>
    <td>
      <input type="text" name="name" maxlength="30"/>
      (max 30 characters a-z and A-Z)
    </td>
  </tr>
   
  <tr>
    <td> BATCH </td>
    <td>
      <input type="text" name="batch" maxlength="30"/>
      (max 30 numbers and characters)
    </td>
  </tr>
  
  <tr>
    <td> ID </td>
    <td>
      <input type="text" name="id" maxlength="30"/>
      (max 30 numbers and characters)
    </td>
  </tr>

  <tr>
    <td> MANUFACTURING DATE </td>
    <td>
      <input type="date" name="manfdate" />
    </td>
  </tr>

  <tr>
    <td> EXPIRY DATE </td>
    <td>
      <input type="date" name="exprydate" />
    </td>
  </tr>
  
  <tr>
    <td> PRICE </td>
    <td>
      <input type="text" name="price" maxlength="10" />
      (Must be in $ or ₹)
    </td>
  </tr>

  <tr>
    <td> Weight </td>
    <td>
      <input type="number" name="size" />
    </td>
  </tr>
  
  <tr>
    <td> TYPE </td>
    <td>
      <input type="text" name="type" maxlength="30"/>
    </td>
  </tr>
  
  <tr>
    <td>
      <input type="submit" name="submit">
    </td>
  </tr>
 
  </form>
 </table>
</body>
</html>
<!-- partial -->
  
</body>
</html>
