<!DOCTYPE html>
<html>
<head>
<title>Blockchain-Product-Verifier</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://e0.pxfuel.com/wallpapers/765/696/desktop-wallpaper-result-for-of-blockchain-blockchain-afbeeldingen-thumbnail.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
}
.jumbo {
  font-size: 6vw;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Blockchain-Product-Verifier
  </div>
  <div class="w3-display-middle">
    <p class="jumbo w3-animate-top error">Verification Failed</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by Blockchain
  </div>
</div>

</body>
</html>
