<!DOCTYPE html>
<html lang="en" >
  
  <head>
    <meta charset="UTF-8">
    <title>Blockchain-Product-Verifier Registration Form </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Shoespage.css')}}">
  </head>

<body class="bgimg">
  <h3 style="color:#04AA6D;"><u>PRODUCT IS AUTHENTIC</u></h3>

 
  <table align="center" cellpadding = "10">
  
  <tr>
    <td> BRAND </td>
    <td>
      <b> {{brand}} </b>
    </td>
  </tr>

  <tr>
    <td> NAME </td>
    <td>
      <b> {{name}} </b>
    </td>
  </tr>
   
  <tr>
    <td> BATCH </td>
    <td>
      <b> {{batch}} </b>
    </td>
  </tr>
  
  <tr>
    <td> ID </td>
    <td>
      <b> {{id}} </b>
    </td>
  </tr>

  <tr>
    <td> MANUFACTURING DATE </td>
    <td>
      <b> {{manfdate}} </b>
    </td>
  </tr>
  
  <tr>
    <td> PRICE </td>
    <td>
      <b> ₹ {{price}} </b>
    </td>
  </tr>

  <tr>
    <td> SIZE </td>
    <td>
      <b> {{size}} </b>
    </td>
  </tr>
  
  <tr>
    <td> TYPE </td>
    <td>
      <b> {{type}} </b>
    </td>
  </tr>
 </table>
</body>
</html>
<!-- partial -->
  
</body>
</html>
